:root {
    interpolate-size: allow-keywords;
    --max-w: 10000px;
    --nav-w: 270px;
}

* {
    box-sizing: border-box;
    /* box-shadow: inset 0 0 0 1px red; */
}

html {
    /* scrollbar-gutter: stable; */
    scroll-behavior: smooth;
    background: #111;
    background: linear-gradient(160deg, hsl(0, 0%, 14%), hsl(0, 0%, 7%));
    scroll-padding-top: 4rem;
}

html {
}

body {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    margin: 0;
    padding: 2rem 0 100svh;
    min-height: 100svh;
    background: inherit;

    color: #999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    overflow-y: scroll;
}