.snippets {
    display: grid;
    gap: 4.0rem;
    width: 100%;
    padding: 0.5rem;


    .details {
        border-radius: 0.15rem;
        color: #bbb;
        overflow: hidden;
        border-radius: 12px;

        background: #272727;
        background: hsl(230, 33%, 7%);
        background: #151515;

        /* background:
            linear-gradient(hsl(0, 0%, 5%), hsl(0, 0%, 5%)) padding-box,
            linear-gradient(135deg, #373737, #252525) border-box; */

        * {
            margin: 0;
        }

        summary {
            display: grid;
            grid-template-rows: auto auto;
            padding: 1.75rem 8rem 1.75rem 4.75rem;
            user-select: none;

            transition: background 1s;
            min-height: 140px;
            border-radius: 0.15rem;
            position: relative;

            .title {
                font-size: 1.25rem;
                font-weight: 600;
                padding: 0 0 1.75rem;
                color: #aaa;
                margin-right: 75px;
                transition: all 0.3s;
            }

            pre {
                background: none;
                padding: 0;
                margin-bottom: auto;
                font-size: 0.8em;
                overflow-y: hidden;
                white-space: normal;
                background: transparent;
                display: grid;
                min-width: min(100%, 400px);

                .code-preview {
                    padding: 0.25rem 0.5rem 0.25rem 2rem;
                    color: #666;
                    border-radius: inherit;
                    display: block;
                    opacity: 1;
                    transition: color 1.3s ease 0.8s, opacity 1s;
                    position: relative;
                    font-size: 1.1rem;

                    & * {
                        transition: color 1.3s ease 0.8s;
                    }

                    &.copied {
                        transform: translate(50%, -50%) scale(0);
                        transition: transform 1.3s, color 0s 2s, opacity 0s 2s;
                        overflow: visible;
                        color: white !important;
                        opacity: 0;

                        & * {
                            font-size: 1.2;
                            transition: color 0 s 2s ease;
                            color: white !important;
                        }
                    }
                }
            }

            .copy-button {
                border: none;
                color: #999;
                /* color: #070707; */

                /* background: hsl(0, 0%, 7%); */
                background: #111;
                background: #272727;
                /* background: none; */
                position: absolute;
                /* inset: 6px 6px 6px auto; */
                inset: 15px 15px auto auto;
                z-index: 2;
                /* padding: 1.25rem 3rem; */
                width: 145px;
                height: 48px;
                /* aspect-ratio: 1; */
                /* border-top-right-radius: 0.5rem; */
                /* border-bottom-right-radius: 0.5rem; */
                /* border-radius: 0.5rem; */
                /* border-radius: 25%; */
                display: grid;
                align-content: center;
                font-weight: 500;
                font-size: 1em;
                letter-spacing: 0.05em;
                transition: transform 0.1s;
                font-family: monospace;
                /* color: #A63D40; */
                /* writing-mode: vertical-rl; */
                /* text-orientation: upright; */

                &:hover {
                    cursor: pointer;
                    /* box-shadow: 0 0 0 2px #888; */
                    /* background: #999; */
                    color: white;
                }

                &::after {
                    content: 'COPY';
                }

                &.copied {
                    transition: transform 0.2s;

                    &::after {
                        content: 'COPIED';
                        color: white;
                    }
                }
            }

            &::marker {
                content: none;
            }

            &::before {
                content: '˃˃';
                position: absolute;
                inset: 2.7rem auto auto 2.3rem;
                display: block;
                transition: rotate 0.35s;
                line-height: 0em;
                font-size: 0.8em;
            }

            &:hover {
                .title {
                    /* color: #ee0979; */
                }

                &::before {
                    /* color: #ee0979; */
                }

                +.body {
                    /* box-shadow: 0 0 0 3px #333; */
                }
            }
        }

        .body {
            width: 100%;
            padding: 2rem 4.75rem calc(1rem + 3px);
            display: grid;
            gap: 0.75rem;
            overflow-y: visible;
            position: relative;
            z-index: 1;
            background: hsl(230, 2%, 7%);
            /* background: #272727; */

            >* {
            }

            .description {
                position: relative;
            }

            h3.part {
                font-size: 1.8rem;
                font-weight: 600;
            }

            .part {
                /* margin-left: 2.5rem; */
                /* padding: 0.25rem min(3.5vw, 10rem); */
                /* padding: 0.25rem 0.25rem; */
                /* max-width: 500px; */
                /* font-size: 1.2rem; */
                color: #aaa;


                &:has(code) {
                    /* background: #333; */
                    /* background: #05050576; */
                    /* background: rgb(30, 30, 30); */
                    /* background: #131313; */
                    background: transparent;

                    /* padding: 0.25rem 0.5rem; */
                    padding: 0;
                    overflow-y: hidden;
                    /* max-width: 100%; */
                    /* margin-inline: min(calc(4vw - 0.5rem), calc(10rem - 0.5rem)); */
                    /* margin-left: 2rem; */

                    code {
                        color: #666;
                        border-radius: inherit;
                        display: block;
                        opacity: 1;
                        font-size: 1rem;
                        transition: color 1.3s ease 0.8s, opacity 1s;
                        padding: 0.25rem 0.5rem 0.25rem 2rem;
                    }
                }
            }
        }

        &::details-content {
            display: block;
            height: 0;
            transition: height 0.5s, content-visibility 0.5s;
            transition-behavior: allow-discrete;

        }

        &[open] {

            &::details-content {
                height: auto;
            }

            summary {
                .code-preview {}
            }

            body {
                background: #444;
            }

            summary::before {
                rotate: 90deg;
            }
        }

    }
}